<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>NGMarel</name>
	<displayName><![CDATA[NGMAREL Payment Module]]></displayName>
	<version><![CDATA[2.2.0 beta 4]]></version>
	<description><![CDATA[NGMAREL Payment Module for PrestaShop]]></description>
	<author><![CDATA[NGMAREL B.V.]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>